### 行数をカウントせよ．確認にはwcコマンドを用いよ．

In [ ]:
import pandas as pd
pd.read_csv("data/popular-names.txt",sep="\t",header=None).shape[0]

In [ ]:
!wc data/popular-names.txt

### タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [ ]:
with open("data/popular-names.txt", "r") as f:
    print(f.read().replace("\t"," "))

In [ ]:
!sed -e 's/\t/ /g' data/popular-names.txt

### 各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [ ]:
import pandas as pd
data = pd.read_csv("data/popular-names.txt",sep="\t",header=None)
for index in [1,2]:
    data[index-1].to_csv(f"data/col{index}.txt",index=None,header=None)

In [ ]:
!cut -f 1 data/popular-names.txt > data/col1.txt
!cut -f 2 data/popular-names.txt > data/col2.txt

### 12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [ ]:
data1 = pd.read_csv("data/col1.txt",header=None)
data2 = pd.read_csv("data/col2.txt",header=None)
pd.concat([data1,data2],axis=1)

In [ ]:
!paste -d "\t" data/col1.txt data/col2.txt

### 自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [ ]:
pd.read_csv("data/popular-names.txt",sep="\t",header=None).head(10)

In [ ]:
!head -n10 data/popular-names.txt

### 自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [ ]:
pd.read_csv("data/popular-names.txt",sep="\t",header=None).tail(10)

In [ ]:
!tail -n10 data/popular-names.txt

### 自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [ ]:
import math
def df_split(data,n):
    split_num = math.ceil(len(data) / n)
    return [data.loc[index*split_num : (index+1)* split_num-1] for index in range(n)]
data = pd.read_csv("data/popular-names.txt",sep="\t",header=None)    
df_split(data,8)

In [ ]:
!split -n10 data/popular-names.txt data/popular-names_split/

### 1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

In [ ]:
data = pd.read_csv("data/popular-names.txt",sep="\t",header=None)    
data[0].unique()

In [ ]:
!cut -f 1  data/popular-names.txt | sort | uniq

### 各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [ ]:
data = pd.read_csv("data/popular-names.txt",sep="\t",header=None)
data.sort_values(2,ascending=False)

In [ ]:
!cut -f 3 data/popular-names.txt | sort -n -r

### 各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [ ]:
data = pd.read_csv("data/popular-names.txt",sep="\t",header=None)
data.groupby(0).count().sort_values(1,ascending=False)

In [ ]:
!cut -f 1 data/popular-names.txt | sort | uniq -c | sort -n -r